<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rico Fiambre | Inicio</title>
  <link rel="shortcut icon" href="./assets/imagenes/logo02.png" type="image/x-icon">
  <link rel="stylesheet" href="./assets/estilos/index.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
</head>

<body>
  <div id="vueApp">
    <!-- CARRITO -->

    <div class="cart col-sm-8 col-md-4 col-12">
      <h2 class="cart-title">Tu carrito</h2>
      <!-- Content -->

      <div v-if="carritoPendientes.length > 0">
        <div class="cart-content">
          <template v-for="items of carritoPendientes">
            <div class="item-cart">
              <img v-bind:src="items.url" alt="" class="cart-img">
              <div class="detail-box" style=" width: 100%; margin-left: 1rem;">
                <div class="cart-product-title">{{items.nombre}}</div>
                <div class="cart-price">{{items.precio.toLocaleString("es-AR", { style:
                  "currency", currency:
                  "ARS" })}}</div>
                <div>
                  <div class="MasOMenos" v-if="items.esPorPeso">
                    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                      v-on:click="cantidadMas(items.nombre, 50)">
                      <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                      <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                      <g id="SVGRepo_iconCarrier">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M12 3C12.2652 3 12.5196 3.10536 12.7071 3.29289L19.7071 10.2929C20.0976 10.6834 20.0976 11.3166 19.7071 11.7071C19.3166 12.0976 18.6834 12.0976 18.2929 11.7071L13 6.41421V20C13 20.5523 12.5523 21 12 21C11.4477 21 11 20.5523 11 20V6.41421L5.70711 11.7071C5.31658 12.0976 4.68342 12.0976 4.29289 11.7071C3.90237 11.3166 3.90237 10.6834 4.29289 10.2929L11.2929 3.29289C11.4804 3.10536 11.7348 3 12 3Z"
                          fill="#000000"></path>
                      </g>
                    </svg>
                    <label class="cart-quantity" style="width: 30rem;"
                      v-if="items.esPorPeso">{{items.cantidad}}g</label>
                    <label class="cart-quantity" style="width: 30rem;" v-else>{{items.cantidad}}u</label>
                    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                      v-on:click="cantidadMenos(items.nombre, 50)">
                      <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                      <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                      <g id="SVGRepo_iconCarrier">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M12 3C12.5523 3 13 3.44772 13 4V17.5858L18.2929 12.2929C18.6834 11.9024 19.3166 11.9024 19.7071 12.2929C20.0976 12.6834 20.0976 13.3166 19.7071 13.7071L12.7071 20.7071C12.3166 21.0976 11.6834 21.0976 11.2929 20.7071L4.29289 13.7071C3.90237 13.3166 3.90237 12.6834 4.29289 12.2929C4.68342 11.9024 5.31658 11.9024 5.70711 12.2929L11 17.5858V4C11 3.44772 11.4477 3 12 3Z"
                          fill="#000000"></path>
                      </g>
                    </svg>
                  </div>
                  <div class="MasOMenos" v-else>
                    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                      v-on:click="cantidadMas(items.nombre, 1)">
                      <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                      <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                      <g id="SVGRepo_iconCarrier">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M12 3C12.2652 3 12.5196 3.10536 12.7071 3.29289L19.7071 10.2929C20.0976 10.6834 20.0976 11.3166 19.7071 11.7071C19.3166 12.0976 18.6834 12.0976 18.2929 11.7071L13 6.41421V20C13 20.5523 12.5523 21 12 21C11.4477 21 11 20.5523 11 20V6.41421L5.70711 11.7071C5.31658 12.0976 4.68342 12.0976 4.29289 11.7071C3.90237 11.3166 3.90237 10.6834 4.29289 10.2929L11.2929 3.29289C11.4804 3.10536 11.7348 3 12 3Z"
                          fill="#000000"></path>
                      </g>
                    </svg>
                    <label class="cart-quantity" style="width: 30rem;">{{items.cantidad}}</label>
                    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                      v-on:click="cantidadMenos(items.nombre, 1)">
                      <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                      <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                      <g id="SVGRepo_iconCarrier">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M12 3C12.5523 3 13 3.44772 13 4V17.5858L18.2929 12.2929C18.6834 11.9024 19.3166 11.9024 19.7071 12.2929C20.0976 12.6834 20.0976 13.3166 19.7071 13.7071L12.7071 20.7071C12.3166 21.0976 11.6834 21.0976 11.2929 20.7071L4.29289 13.7071C3.90237 13.3166 3.90237 12.6834 4.29289 12.2929C4.68342 11.9024 5.31658 11.9024 5.70711 12.2929L11 17.5858V4C11 3.44772 11.4477 3 12 3Z"
                          fill="#000000"></path>
                      </g>
                    </svg>
                  </div>
                </div>
              </div>
              <!-- Remove Cart -->
              <i class='bx bxs-trash-alt cart-remove' v-on:click="removeCartItem(items.nombre)"></i>
            </div>
          </template>
        </div>
        <!-- Total -->
        <div class="total">
          <div class="total-title">Total</div>
          <div class="total-price">{{totalItems.toLocaleString("es-AR", { style:
            "currency", currency:
            "ARS" })}} </div>
        </div>
        <!-- Buy Button -->
        <a><button type="button" class="btn-buy" v-on:click="irAComprar">Comprar</button></a>
      </div>
      <div v-else style="height: 67vh; display: flex; align-items: center; justify-content: center;">
        <p>NO TIENES PRODUCTOS EN TU CARRO</p>
      </div>
      <!-- Cart Close -->
      <i class='bx bx-x' id="close-cart" v-on:click="cerrarCarrito"></i>

    </div>

    <!-- FIN CARRITO -->


    <div :class="blurONoBluEsaEsLaCuestion">
      <header class="d-flex justify-content-center align-items-center">
        <nav class="navbar navbar-expand-lg bg-body-tertiary" id="header-nav">
          <div class="container-fluid justify-content-between">
            <a class="navbar-brand animate__animated animate__fadeInLeft" href="#">
              <img class="logo-header" src="./assets/imagenes/logo-nuevo-cortado.png" alt="fiambreria-logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon custom-icon"></i></span>
            </button>
            <div class=" collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item animate__animated animate__fadeInRightBig">
                  <a class="nav-link estilo-hover active" href="./index.html">INICIO</a>
                </li>
                <li class="nav-item animate__animated animate__fadeInRightBig">
                  <a class="nav-link estilo-hover" href="./productos.html">PRODUCTOS</a>
                </li>
                <li class="nav-item animate__animated animate__fadeInRightBig">
                  <a class="nav-link estilo-hover" href="./contacto.html">CONTACTO</a>
                </li>
                <div class="grupo animate__animated animate__fadeInRightBig">
                  <a :href="'./productos.html?nombre='+valorSeleccionado">
                    <svg class="iconoBusqueda" aria-hidden="true" viewBox="0 0 24 24">
                      <g>
                        <path
                          d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z">
                        </path>
                      </g>
                    </svg>
                  </a>
                  <input class="inputBusqueda" placeholder="Buscar" type="search" class="input"
                    v-model="valorSeleccionado">
                  {{filtro}}
                </div>

                <div class="d-flex align-items-center justify-content-center gap-3 divIconos">
                  <li class="nav-item animate__animated animate__fadeInRightBig" v-if="mostrarBoton">
                    <button class="nav-link" @click="cerrarSesion">
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-logout svg-hover"
                        width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />
                        <path d="M9 12h12l-3 -3" />
                        <path d="M18 15l3 -3" />
                      </svg></button>
                  </li>
                  <li class="nav-item animate__animated animate__fadeInRightBig" v-if="mostrarBotonLogIn">
                    <button class="nav-link" @click="irALogin">
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user-circle svg-hover"
                        width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
                        <path d="M12 10m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
                        <path d="M6.168 18.849a4 4 0 0 1 3.832 -2.849h4a4 4 0 0 1 3.834 2.855" />
                      </svg></button>
                  </li>
                  <li class="nav-item animate__animated animate__fadeInRightBig" v-if="mostrarBoton">
                    <a class="nav-link" href="./historialCompras.html"><svg xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-list-details svg-hover" width="30" height="30"
                        viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M13 5h8" />
                        <path d="M13 9h5" />
                        <path d="M13 15h8" />
                        <path d="M13 19h5" />
                        <path d="M3 4m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z" />
                        <path d="M3 14m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z" />
                      </svg></a>
                  </li>

                  <li class="nav-item animate__animated animate__fadeInRightBig">
                    <a class="nav-link" href="#"><svg xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-shopping-cart svg-hover" width="30" height="30"
                        viewBox="0 0 24 24" stroke-width="1.5" stroke="white" fill="none" stroke-linecap="round"
                        stroke-linejoin="round" @click="abrirCarrito">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M6 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                        <path d="M17 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                        <path d="M17 17h-11v-14h-2" />
                        <path d="M6 5l14 1l-1 7h-13" />
                      </svg></a>
                  </li>
                </div>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      <main>
        <div class="contenedorBanner">

        </div>

        <div class="BeneficiosDIV d-flex justify-content-around flex-wrap p-1 animate__animated animate__fadeIn"
          style="background-color: whitesmoke;">
          <div class="d-flex flex-column align-items-center" id="divPublicidad1">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-truck" width="44" height="44"
              viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M7 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
              <path d="M17 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
              <path d="M5 17h-2v-11a1 1 0 0 1 1 -1h9v12m-4 0h6m4 0h2v-6h-8m0 -5h5l3 5" />
            </svg>
            <p>ENVIOS DE LUNES A SÁBADOS</p>
          </div>

          <div class="d-flex flex-column align-items-center" id="divPublicidad3">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-cloud-lock" width="44"
              height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
              stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path
                d="M19 18a3.5 3.5 0 0 0 0 -7h-1c.397 -1.768 -.285 -3.593 -1.788 -4.787c-1.503 -1.193 -3.6 -1.575 -5.5 -1s-3.315 2.019 -3.712 3.787c-2.199 -.088 -4.155 1.326 -4.666 3.373c-.512 2.047 .564 4.154 2.566 5.027" />
              <path d="M8 15m0 1a1 1 0 0 1 1 -1h6a1 1 0 0 1 1 1v3a1 1 0 0 1 -1 1h-6a1 1 0 0 1 -1 -1z" />
              <path d="M10 15v-2a2 2 0 1 1 4 0v2" />
            </svg>
            <p>COMPRA CON SEGURIDAD</p>
          </div>

          <div class="d-flex flex-column align-items-center" id="divPublicidad2">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-credit-card" width="44"
              height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
              stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M3 5m0 3a3 3 0 0 1 3 -3h12a3 3 0 0 1 3 3v8a3 3 0 0 1 -3 3h-12a3 3 0 0 1 -3 -3z" />
              <path d="M3 10l18 0" />
              <path d="M7 15l.01 0" />
              <path d="M11 15l2 0" />
            </svg>
            <p>TODOS LOS MEDIOS DE PAGO</p>
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <h2 class="textoTop10" style="text-decoration: none;">LOS MAS ELEGIDOS</h2>
        </div>


        <div class="contenedorProductos">
          <template v-for="producto in listaTop10">
            <div class="animate__animated animate__fadeInUpBig">
              <div class="product-box "
                style="display: flex; justify-content: space-between !important; flex-direction: column;">
                <div>
                  <a :href="`./detalles.html?nombre=`+producto.nombre"><img v-bind:src="producto.url"
                      :alt="producto.nombre" class="product-img"></a>
                </div>
                <div class="d-flex flex-column gap-1 justify-content-between" style="height: 100%;">
                  <h2 class="product-title">{{producto.nombre}}</h2>
                  <div style="display: flex; justify-content: space-between;" v-if="producto.esPorPeso">
                    <span class="price">{{producto.precio.toLocaleString("es-AR", { style:
                      "currency", currency:
                      "ARS" })}} /Kg</span>
                  </div>
                  <div style="display: flex; justify-content: space-between;" v-else>
                    <span class="price">{{producto.precio.toLocaleString("es-AR", { style:
                      "currency", currency:
                      "ARS" })}} </span>
                  </div>
                </div>
                <div class="contenedorValor d-flex align-items-center" style="background-color: black; width: 5rem;">
                  <svg version="1.0" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="20px" viewBox="0 0 64 64"
                    enable-background="new 0 0 64 64" xml:space="preserve" fill="#000000">
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                    <g id="SVGRepo_iconCarrier">
                      <g>
                        <path fill="black"
                          d="M31.998,2.478c0.279,0,0.463,0.509,0.463,0.509l8.806,18.759l20.729,3.167l-14.999,15.38l3.541,21.701 l-18.54-10.254l-18.54,10.254l3.541-21.701L2,24.912l20.729-3.167l8.798-18.743C31.527,3.002,31.719,2.478,31.998,2.478 M31.998,0 c-0.775,0-1.48,0.448-1.811,1.15l-8.815,18.778L1.698,22.935c-0.741,0.113-1.356,0.632-1.595,1.343 c-0.238,0.71-0.059,1.494,0.465,2.031l14.294,14.657L11.484,61.67c-0.124,0.756,0.195,1.517,0.822,1.957 c0.344,0.243,0.747,0.366,1.151,0.366c0.332,0,0.666-0.084,0.968-0.25l17.572-9.719l17.572,9.719 c0.302,0.166,0.636,0.25,0.968,0.25c0.404,0,0.808-0.123,1.151-0.366c0.627-0.44,0.946-1.201,0.822-1.957l-3.378-20.704 l14.294-14.657c0.523-0.537,0.703-1.321,0.465-2.031c-0.238-0.711-0.854-1.229-1.595-1.343l-19.674-3.006L33.809,1.15 C33.479,0.448,32.773,0,31.998,0L31.998,0z">
                        </path>
                        <path fill="gold"
                          d="M31.998,2.478c0.279,0,0.463,0.509,0.463,0.509l8.806,18.759l20.729,3.167l-14.999,15.38l3.541,21.701 l-18.54-10.254l-18.54,10.254l3.541-21.701L2,24.912l20.729-3.167l8.798-18.743C31.527,3.002,31.719,2.478,31.998,2.478">
                        </path>
                      </g>
                    </g>
                  </svg>
                  <p style="margin: 0; margin-top: 4px;">
                    {{Math.round(producto.puntuaciones * 10) / 10}}
                  </p>
                </div>
              </div>
            </div>

          </template>
        </div>

        <div class="promoBanner">

        </div>

      </main>
      <footer>
        <div class="d-flex flex-column justify-content-between flex-wrap">
          <div class="d-flex justify-content-center" style="width: 100%;">
            <div class="d-flex flex-column align-items-center justify-content-center subscribite">
              <h3 class="incentivo">SÉ EL PRIMERO EN ENTERARTE</h3>
              <p class="incentivo">Recibe promociones exclusivas, recetas innovadoras y sorpresas deliciosas en tu
                correo.</p>
              <p class="incentivo">Únete ahora y no te pierdas ninguna novedad.</p>
              <p class="incentivo">¡El placer de los fiambres te espera!</p>
              <div class="input-container">
                <input placeholder="correo@email.com" type="email" required>
                <button @click="enviarSuscripcion" class="invite-btn" type="button">
                  enviar
                </button>
              </div>
            </div>
          </div>
          <div class="footerInfoContainer">
            <div class="sociales">
              <div class="social-links">
                <a class="link" href="https://www.linkedin.com/in/agustin-martinez-b26978217/">
                  <div id="linkedin" class="social-btn flex-center">
                    <svg viewBox="0 0 24 24" height="24" width="24" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M4.98 3.5c0 1.381-1.11 2.5-2.48 2.5s-2.48-1.119-2.48-2.5c0-1.38 1.11-2.5 2.48-2.5s2.48 1.12 2.48 2.5zm.02 4.5h-5v16h5v-16zm7.982 0h-4.968v16h4.969v-8.399c0-4.67 6.029-5.052 6.029 0v8.399h4.988v-10.131c0-7.88-8.922-7.593-11.018-3.714v-2.155z">
                      </path>
                    </svg><span class="nombreLink">/Agustin</span>
                  </div>
                </a>

                <a class="link" href="https://www.linkedin.com/in/facundorojas/">
                  <div id="linkedin" class="social-btn flex-center">
                    <svg viewBox="0 0 24 24" height="24" width="24" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M4.98 3.5c0 1.381-1.11 2.5-2.48 2.5s-2.48-1.119-2.48-2.5c0-1.38 1.11-2.5 2.48-2.5s2.48 1.12 2.48 2.5zm.02 4.5h-5v16h5v-16zm7.982 0h-4.968v16h4.969v-8.399c0-4.67 6.029-5.052 6.029 0v8.399h4.988v-10.131c0-7.88-8.922-7.593-11.018-3.714v-2.155z">
                      </path>
                    </svg><span class="nombreLink">/Facundo</span>
                  </div>
                </a>

                <a class="link" href="https://github.com/Frojas0/Rico-Fiambre/tree/master">
                  <div id="github" class="social-btn flex-center">
                    <svg viewBox="0 0 24 24" height="24" width="24" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z">
                      </path>
                    </svg><span>Rico Fiambre</span>
                  </div>
                </a>
              </div>
            </div>
          </div>
      </footer>
    </div>

  </div>
  <!-- </div> -->
</body>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="./assets/scripts/index.js"></script>

</html>