/* Estilo Normalizado */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
}

/* ---------- HEADER ---------- */
header {
  min-height: 15vh;
  background-color: black;
}

#header-nav {
  background-color: black !important;
  min-height: 14vh;
  z-index: 1;
}

.navbar {
  height: 15vh;
  width: 100%;
}

.logo-header {
  width: 10rem;
}

.nav-link {
  color: white !important;
}

#navbarNav {
  justify-content: end;
  align-items: center;
  font-size: 1rem;
}

.container-fluid {
  background-color: black;
}

.navbar-nav {
  background-color: black;
  font-size: 120%;
  gap: 1rem;
  align-items: center !important;
  padding: 1rem;
  margin-bottom: .5rem;
}

.estilo-hover:hover {
  color: #f6be5f !important;
  transition: all 0.3s;
}

.svg-hover:hover {
  stroke: #f6be5f !important;
  transition: all 0.3s;
}

.active {
  color: #f6be5f !important;
}

/* ---------- MAIN ---------- */

body {
  height: 100%;
  width: 100%;
}

main {
  min-height: 80vh;
  /* Ajustar */
  /* background-color:  #754d25; */
  background-color: whitesmoke;
  color: black;
}

/* ---------- MAIN ---------- */

body {
  height: 100%;
  width: 100%;
}

main {
  min-height: 80vh;
  background-color: whitesmoke;
  color: black;
}

/* ---------- FOOTER ---------- */
footer {
  background-color: #b36311;
  min-height: 10vh;
  color: white;
  padding: 1rem;
}

#vueApp {
  height: 100%;
}


.tarjetas {
  height: 2rem
}

.tarjetas {
  height: 2rem;
}