/* Estilo Normalizado */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}

main {
    min-height: 70vw;
    background-color: whitesmoke;
    color: black;
}

/* ---------- HEADER ---------- */
header {
    min-height: 15vh;
    background-color: black;
}

#header-nav {
    background-color: black !important;
    min-height: 14vh;
    z-index: 1;
}

.navbar {
    height: 15vh;
    width: 100%;
}

.logo-header {
    width: 10rem;
}

.nav-link {
    color: white !important;
}

#navbarNav {
    justify-content: end;
    align-items: center;
    font-size: 1rem;
}

.container-fluid {
    background-color: black;
}

.navbar-nav {
    background-color: black;
    font-size: 120%;
    gap: 1rem;
    align-items: center !important;
    padding: 1rem;
    margin-bottom: .5rem;
}

.estilo-hover:hover {
    color: #f6be5f !important;
    transition: all 0.3s;
}

.svg-hover:hover {
    stroke: #f6be5f !important;
    transition: all 0.3s;
}

.active {
    color: #f6be5f !important;
}

/* ---------- MAIN ---------- */

body {
    height: 100%;
    width: 100%;
}

main {
    min-height: 80vh;
    /* Ajustar */
    /* background-color:  #754d25; */
    background-color: whitesmoke;
    color: black;
}

img {
    width: 10rem;
    height: 10rem;
}

.contenedorProductos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 1.5rem;
    padding: 3%;
}

.product-box {
    position: relative;
    border: 1px solid black;
    height: 28rem;
    width: 18rem;
    background-color: #eae6e6;
    overflow: hidden;
    transition: .3s ease;
    padding-bottom: .5rem;
}

.product-box:hover {
    transform: scale(1.05);
    border: 1.5px solid black;

}

.product-box:hover img {
    transform: scale(1.2);
}

.product-img {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100%;
    margin-bottom: 0.5rem;
    transition: 1s ease;
}

.product-title {
    position: relative;
    z-index: 1;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    background-color: #eae6e6;
    width: 100%;
}

.price {
    font-weight: 300;
    margin-left: 0.5rem;
}

.add-cart {
    background: var(--text-color);
    color: var(--bg-color);
    padding: 10px;
    cursor: pointer;
}

.add-cart:hover {
    background: hsl(249, 32%, 17%);
}






.send-button {
    margin-top: 15px;
    height: 34px;
    width: 10rem;
    overflow: hidden;
    transition: all .2s ease-in-out;
}

.alt-send-button {
    width: 10rem;
    height: 34px;
    transition: all .2s ease-in-out;
}

#submit {
    width: 10rem;
}

#submit {
    background-color: #b36311;
    border: none;
}

.send-text {
    display: block;
    margin-top: 10px;
    font: 700 12px 'Lato', sans-serif;
    letter-spacing: 2px;
}