/* Estilo Normalizado */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}

main {
    min-height: 70vw;
    background-color: whitesmoke;
    color: black;
}

/* ---------- HEADER ---------- */
header {
    min-height: 19vh;
    background-color: #f6be5f;
}

#header-nav {
    background-color: #f6be5f !important;
    min-height: 14vh;
    z-index: 1;
}

.navbar {
    height: 15vh;
    width: 95vw;
}

.logo-header {
    width: 7rem;
}

.nav-link {
    color: #2c3e50 !important;
}

#navbarNav {
    justify-content: end;
    align-items: center;
}

.navbar-nav {
    background-color: #f6be5f;
    font-size: 120%;
    gap: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    align-items: center !important;
}

a:hover {
    color: white !important;
    transition: all 0.3s;
}

.active {
    color: white !important;
}

.outButton:hover {
    color: white !important;
    transition: all 0.3s;
}

footer {
    background-color: #b36311;
    min-height: 10vh;
    color: white;
    padding: 1rem;
}

#vueApp{
    height: 100%;
}


.tarjetas {
    height: 2rem
}

.tarjetas {
    height: 2rem;
}
