/* Estilo Normalizado */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}

/* ---------- HEADER ---------- */
header {
    /* background-color: black; */
    /*Ajustar*/
    /* height: 8vw; */
    /*Ajustar*/
    color: white;
    background-color: #f6be5f;

}

.navbar, .container-fluid{
    background-color: #f6be5f !important;

}

#logo01{
    width: 5rem;
}

/* ---------- MAIN ---------- */

main {
    /* height: 80vw; */
    /*Ajustar*/
    min-height: 70vw;
    /*Ajustar*/
    /* background-color:  #754d25; */
    background-color: whitesmoke;
    color: black;
}

/* ---------- FOOTER ---------- */
footer {
    background-color: #b36311;
    /*Ajustar*/

    /*Ajustar*/
    color: white;
    padding: 1rem;
}

.tarjetas {
    height: 2rem
}

/* .color1 { #f3bb14 };
.color2 { #f4c43c };
.color3 { #7c4814 };
.color4 { #a27264 };
.color5 { #d1bcb4 }; */