/* Estilo Normalizado */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}

/* ---------- HEADER ---------- */
header {
    min-height: 15vh;
    background-color: black;
}

#header-nav {
    background-color: black !important;
    min-height: 14vh;
    z-index: 1;
}

.navbar {
    height: 15vh;
    width: 100%;
}

.logo-header {
    width: 10rem;
}

.nav-link {
    color: white !important;
}

#navbarNav {
    justify-content: end;
    align-items: center;
    font-size: 1rem;
}

.container-fluid {
    background-color: black;
}

.navbar-nav {
    background-color: black;
    font-size: 120%;
    gap: 1rem;
    align-items: center !important;
    padding: 1rem;
    margin-bottom: .5rem;
}

.estilo-hover:hover {
    color: #f6be5f !important;
    transition: all 0.3s;
}

.svg-hover:hover {
    stroke: #f6be5f !important;
    transition: all 0.3s;
}

.active {
    color: #f6be5f !important;
}

/* ---------- CONTROLES VIDEO ---------- */

video::-webkit-media-controls {
    display: none;
}

/* ---------- MAIN ---------- */

body {
    height: 100%;
    width: 100%;
}

main {
    min-height: 80vh;
    /* Ajustar */
    /* background-color:  #754d25; */
    background-color: whitesmoke;
    color: black;
}

/* ---------- MAIN ---------- */

main {
    min-height: 70vw;
    background-color: whitesmoke;
    color: black;
}

#imgCarrousel {
    object-fit: cover;
    height: 600px;
    width: 100%;
    transition: ease-in;
}

#sectionSobre {
    padding: 1rem;
    width: 30%;
}

/* ---------- FOOTER ---------- */
footer {
    background-color: #b36311;
    color: white;
    padding: 1rem;
}

/* ---------- Botones integrantes  ---------- */
.btn-cssbuttons {
    --btn-color: #b36311;
    position: relative;
    padding: 16px 32px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    color: white;
    background: none;
    border: none;
    outline: none;
    overflow: hidden;
    cursor: pointer;
    filter: drop-shadow(0 2px 8px rgba(39, 94, 254, 0.32));
    transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.btn-cssbuttons::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: var(--btn-color);
    border-radius: 24px;
    transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.btn-cssbuttons span,
.btn-cssbuttons span span {
    display: inline-flex;
    vertical-align: middle;
    transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.btn-cssbuttons span {
    transition-delay: 0.05s;
}

.btn-cssbuttons span:first-child {
    padding-right: 7px;
}

.btn-cssbuttons span span {
    margin-left: 8px;
    transition-delay: 0.1s;
}

.btn-cssbuttons ul {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    transform: translateY(-50%);
}

.btn-cssbuttons ul li {
    flex: 1;
}

.btn-cssbuttons ul li a {
    display: inline-flex;
    vertical-align: middle;
    transform: translateY(55px);
    transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.btn-cssbuttons ul li a:hover {
    opacity: 0.5;
}

.btn-cssbuttons:hover::before {
    transform: scale(1.2);
}

.btn-cssbuttons:hover span,
.btn-cssbuttons:hover span span {
    transform: translateY(-55px);
}

.btn-cssbuttons:hover ul li a {
    transform: translateY(0);
}

.btn-cssbuttons:hover ul li:nth-child(1) a {
    transition-delay: 0.15s;
}

.btn-cssbuttons:hover ul li:nth-child(2) a {
    transition-delay: 0.2s;
}

.btn-cssbuttons:hover ul li:nth-child(3) a {
    transition-delay: 0.25s;
}