/* Estilo Normalizado */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/* ---------- HEADER ---------- */

header {
  min-height: 15vh;
  background-color: black;
}

#header-nav {
  background-color: black !important;
  min-height: 14vh;
  z-index: 1;
}

.navbar {
  height: 15vh;
  width: 100%;
}

.logo-header {
  width: 10rem;
}

.nav-link {
  color: white !important;
}

#navbarNav {
  justify-content: end;
  align-items: center;
  font-size: .9rem;
}

.container-fluid {
  background-color: black;
}

.navbar-nav {
  background-color: black;
  font-size: 120%;
  gap: 1rem;
  align-items: center !important;
  padding: 1rem;
  margin-bottom: .5rem;
}


.estilo-hover:hover {
  color: #f6be5f !important;
  transition: all 0.3s;
}

.svg-hover:hover {
  stroke: #f6be5f !important;
  transition: all 0.3s;
}

.active {
  color: #f6be5f !important;
}




.grupo {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 190px;
  margin-bottom: 0.2rem;
}

.inputBusqueda {
  width: 100%;
  height: 1.8rem;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  transition: .3s ease;
}

.inputBusqueda::placeholder {
  color: #9e9ea7;
}

.inputBusqueda:focus,
.inputBusqueda:hover {
  outline: none;
  border-color: #f6be5f;
  background-color: #fff;
  box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.iconoBusqueda {
  position: absolute;
  top: 3px;
  left: 7px;
  fill: black;
  width: 1.5rem;
  height: 1.5rem;
}

/* ---------- MAIN ---------- */

body {
  height: 100%;
  width: 100%;
}

main {
  min-height: 80vh;
  /* Ajustar */
  /* background-color:  #754d25; */
  background-color: whitesmoke;
  color: black;
}

/* ---------- MAIN ---------- */
.contenedorFiltros {
  padding-top: 2rem;
}

.selectFiltros {
  height: 2rem;
}

.section-title {
  text-align: center;
  /* margin: 0 auto; */
  padding: 60px 0;
  font: 300 60px 'Oswald', sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 6px;
  background: linear-gradient(rgba(255, 245, 245, 0.199), rgba(255, 245, 245, 0.26)), url(../imagenes/pexels-chevanon-photography-323503.jpg);
  background-size: cover;
  background-position-x: 65%;
  background-position-y: 55%;
  height: 100%;
  ;
}

main {
  background-color: whitesmoke;
  color: black;
  /* padding: 4rem 0 3rem; */
  width: 100%;
  min-height: 70vh;
  z-index: 1;
  padding-bottom: 3%;
}

/* ---------- FOOTER ---------- */
footer {
  background-color: #b36311;
  min-height: 10vh;
  /* height: 1; */
  /*Ajustar*/

  /*Ajustar*/
  color: white;
  padding: 1rem;
}


.tarjetas {
  height: 2rem;
  padding: 0.1rem;
  ;
}

/* ---------- FORMULARIO LOGIN---------- */
#logo-login-register {
  width: 15rem;
}

#vueApp {
  height: 100%;
}


.tarjetas {
  height: 2rem
}

.tarjetas {
  height: 2rem;
}

#logo01 {
  width: 5rem;
}

:root {
  --main-color: #fd4646;
  --text-color: #171427;
  --bg-color: #fff;
}

/* img {
   width: 100%; 
} */
body {
  color: var(--text-color);
}

.container {
  max-width: 100%;
  /* margin: auto; */
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem
}

section {
  padding: 4rem 0 3rem;
}

.section-title {
  text-align: center;
  /* margin: 0 auto; */
  padding: 60px 0;
  font: 300 60px 'Oswald', sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 6px;
  background: linear-gradient(rgba(0, 0, 0, 0.199), rgba(255, 245, 245, 0.26)), url(../imagenes/fondo-titulo-productos.jpg);
  background-size: cover;
  background-position-x: 30%;
  background-position-y: 20%;
  height: 100%;
}


/* ---------------------------------------------- */
#cart-icon {
  font-size: 1.8rem;
  cursor: pointer;
}

/* Cart */
.cart {
  position: fixed;
  top: 0;
  right: -100%;
  width: 360px;
  min-height: 100vh;
  padding: 20px;
  background: var(--bg-color);
  box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
  transition: 0.3s;
  z-index: 2;
}

.cart.active {
  right: 0;
}

.cart-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 2rem;
  color: black;
}

.cart-box {
  display: grid;
  grid-template-columns: 32% 50% 18%;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.item-cart {
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.cart-img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  padding: 10px;
}

.detail-box {
  display: grid;
  row-gap: 0.5rem;
}

.cart-product-title {
  font-size: 1rem;
  text-transform: uppercase;
}

.cart-price {
  font-weight: 500;
}

.cart-quantity {
  border: 1px solid var(--text-color);
  outline-color: var(--main-color);
  width: 2.4rem;
  text-align: center;
  font-size: 1rem;
}

.cart-remove {
  font-size: 24px;
  color: var(--main-color);
  cursor: pointer;
}

.total {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
  border-top: 1px solid var(--text-color);
  color: black;
}

.total-title {
  font-size: 1rem;
  font-weight: 600;
}

.total-price {
  margin-left: 0.5rem;
}

.btn-buy {
  display: flex;
  margin: 1.5rem auto 0 auto;
  padding: 12px 20px;
  border: none;
  background: var(--main-color);
  color: var(--bg-color);
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.btn-buy:hover {
  background: var(--text-color);
}

#close-cart {
  position: absolute;
  top: 1rem;
  right: 0.8rem;
  font-size: 2rem;
  color: var(--text-color);
  cursor: pointer;
}

.section-title {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1.5rem;
}

.shop {
  margin-top: 2rem;
}















/* TARJETAS PRODUCTOS */
.contenedorProductos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 1.5rem;
  padding: 3%;
}

.product-box {
  position: relative;
  /* border: 1.5px solid black; */
  height: 29rem;
  width: 18rem;
  background-color: #ededed;
  overflow: hidden;
  transition: .3s ease;
  padding-bottom: .5rem;
  border-radius: 1rem;
}

.product-box:hover {
  transform: scale(1.05);
}

.product-box:hover img {
  transform: scale(1.2);
}

.product-img {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100%;
  margin-bottom: 0.5rem;
  transition: 1s ease;
}

.product-title {
  position: relative;
  z-index: 1;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  height: 2rem;
  margin-top: 0.5rem;
  background-color: #ededed;
  width: 100%;
  padding-top: .5rem;
}

.price {
  font-weight: 300;
  margin-left: 2.5rem;
}

.add-cart {
  background: var(--text-color);
  color: var(--bg-color);
  padding: 10px;
  cursor: pointer;
}

.add-cart:hover {
  background: hsl(249, 32%, 17%);
}


/* CLASE BOTON DE COMPRA */
.botonCarrito {
  position: relative;
  overflow: hidden;
  left: -55px;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
  background-color: black;
  border: solid 1px #f6be5f;
  font-family: inherit;
  height: 2rem;
  margin-top: 1rem;
}

.default-btn,
.hover-btn {
  background-color: black;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px 20px;
  border-radius: 10px;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  transition: all .3s ease;
}

.hover-btn {
  position: absolute;
  inset: 0;
  background-color: black;
  transform: translate(0%, 100%);
}

.default-btn span {
  color: hsl(0, 0%, 100%);
}

.hover-btn span {
  color: #f6be5f;
}

.botonCarrito:hover .default-btn {
  transform: translate(0%, -100%);
  /* width: 10rem; */
}

.botonCarrito:hover .hover-btn {
  transform: translate(0%, 0%);
}


/* Shop Content */
/* .shop-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 1.5rem;
  padding: 3%;
} */







/* .product-box {
  position: relative;
  padding-bottom: 0.5rem;
}

.product-box {
  position: relative;
  border: 1px solid black;
  height: 27rem;
  width: 18rem;
  background-color: #eae6e6;
  overflow: hidden;
  transition: .3s ease;
}

.product-box:hover {
  transform: scale(1.05);
  border: 1.5px solid black;

}

.product-box:hover img {
  transform: scale(1.2);
}

.product-img {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100%;
  margin-bottom: 0.5rem;
  transition: 1s ease;
}

.product-title {
  position: relative;
  z-index: 1;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  background-color: #eae6e6;
  width: 100%;
}

.price {
  font-weight: 300;
  margin-left: 0.5rem;
}

.add-cart {
  background: var(--text-color);
  color: var(--bg-color);
  padding: 10px;
  cursor: pointer;
}

.add-cart:hover {
  background: hsl(249, 32%, 17%);
} */

/* Breakpoints / Making Responsive */
@media (max-width: 1080px) {
  .nav {
    padding: 15px;
  }

  section {
    padding: 3rem 0 2rem;
  }

  .container {
    margin: 0 auto;
    width: 90%;
  }

  .shop {
    margin-top: 2rem !important;
  }
}

@media (max-width: 400px) {
  .nav {
    padding: 11px;
  }

  .logo {
    font-size: 1rem;
  }

  .cart {
    width: 320px;
  }
}

@media (max-width: 360px) {
  .shop {
    margin-top: 1rem !important;
  }

  .cart {
    width: 280px;
  }
}


.MasOMenos {
  /* height: 50px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
  width: 100px;
}

.cart-quantity {
  border: 1px solid var(--text-color);
  outline-color: var(--main-color);
  width: 5rem;
  text-align: center;
  font-size: 1rem;
}

.aComprar {
  text-decoration: none;
}


/* CAMBIOS */
/* @media (max-width: 7680px) {
  .product-box {
    height: 29rem;
  }
}
@media (max-width: 600px) {
  .product-box {
    height: 33rem;
  }
} */

.cart-content {
  height: 67vh;
  /* altura máxima del div */
  overflow: auto;
  /* añade scroll automáticamente cuando sea necesario */
}







/* PANTALLA DE CARGA */
[v-cloak] {
  display: none;
}

.loading-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.dots-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.dot {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: #b3d4fc;
  animation: pulse 1.5s infinite ease-in-out;
}

.dot:last-child {
  margin-right: 0;
}

.dot:nth-child(1) {
  animation-delay: -0.3s;
}

.dot:nth-child(2) {
  animation-delay: -0.1s;
}

.dot:nth-child(3) {
  animation-delay: 0.1s;
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
    background-color: #b3d4fc;
    box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
  }

  50% {
    transform: scale(1.2);
    background-color: #6793fb;
    box-shadow: 0 0 0 10px rgba(178, 212, 252, 0);
  }

  100% {
    transform: scale(0.8);
    background-color: #b3d4fc;
    box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
  }
}




/* .dot-spinner {
  --uib-size: 2.8rem;
  --uib-speed: .9s;
  --uib-color: #183153;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: var(--uib-size);
  width: var(--uib-size);
}

.dot-spinner__dot {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.dot-spinner__dot::before {
  content: '';
  height: 20%;
  width: 20%;
  border-radius: 50%;
  background-color: var(--uib-color);
  transform: scale(0);
  opacity: 0.5;
  animation: pulse0112 calc(var(--uib-speed) * 1.111) ease-in-out infinite;
  box-shadow: 0 0 20px rgba(18, 31, 53, 0.3);
}

.dot-spinner__dot:nth-child(2) {
  transform: rotate(45deg);
}

.dot-spinner__dot:nth-child(2)::before {
  animation-delay: calc(var(--uib-speed) * -0.875);
}

.dot-spinner__dot:nth-child(3) {
  transform: rotate(90deg);
}

.dot-spinner__dot:nth-child(3)::before {
  animation-delay: calc(var(--uib-speed) * -0.75);
}

.dot-spinner__dot:nth-child(4) {
  transform: rotate(135deg);
}

.dot-spinner__dot:nth-child(4)::before {
  animation-delay: calc(var(--uib-speed) * -0.625);
}

.dot-spinner__dot:nth-child(5) {
  transform: rotate(180deg);
}

.dot-spinner__dot:nth-child(5)::before {
  animation-delay: calc(var(--uib-speed) * -0.5);
}

.dot-spinner__dot:nth-child(6) {
  transform: rotate(225deg);
}

.dot-spinner__dot:nth-child(6)::before {
  animation-delay: calc(var(--uib-speed) * -0.375);
}

.dot-spinner__dot:nth-child(7) {
  transform: rotate(270deg);
}

.dot-spinner__dot:nth-child(7)::before {
  animation-delay: calc(var(--uib-speed) * -0.25);
}

.dot-spinner__dot:nth-child(8) {
  transform: rotate(315deg);
}

.dot-spinner__dot:nth-child(8)::before {
  animation-delay: calc(var(--uib-speed) * -0.125);
}

@keyframes pulse0112 {

  0%,
  100% {
    transform: scale(0);
    opacity: 0.5;
  }

  50% {
    transform: scale(1);
    opacity: 1;
  }
} */

.clase-blur {
  filter: blur(5px);
}
.clase-no-blur{
  filter: none;

}